html {
  background: #303030;
  overflow-x: hidden; /* Disable horizontal scrollbar when ninja runs across. */
  font-family: 'Josefin Slab', serif;
}

@keyframes slash {
  /* First slash */
  10% {
    background-image: url('./img/a1.png');
  }
  12% {
    background-image: url('./img/a2.png');
  }
  14% {
    background-image: url('./img/a3.png');
  }
  16% {
    background-image: url('./img/a4.png');
  }
  18% {
    background-image: url('./img/a5.png');
  }
  20% {
    background-image: none;
  }
  
  /* Second slash */
  25% {
    background-image: url('./img/b1.png');
  }
  26% {
    background-image: url('./img/b2.png');
  }
  27% {
    background-image: url('./img/b3.png');
  }
  29% {
    background-image: url('./img/b4.png');
  }
  31% {
    background-image: url('./img/b5.png');
  }
  33% {
    background-image: url('./img/b6.png');
  }
  34% {
    background-image: url('./img/b7.png');
  }
  35% {
    background-image: none;
  }
}

@keyframes run {
  45% {
    display: normal;
    left: -223px;
  }
  45%, 55%, 65%, 75% {
    transform: translateY(0);
  }
  50%, 60%, 70% {
    transform: translateY(-100px);
  }
  75%, 100% {
    left: 100vw;
  }
}

@keyframes yang-in {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#slashes {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 964px;

  display:flex;
  justify-content:center;
  align-items:center;
  
  background-size: cover;
  animation: slash 2.5s linear 0s 1 normal;
}

#ninja {
  position: absolute;
  top: 45vh;
  left: -223px;
  animation: run 2.5s linear 0s 1 normal;
}

#yangmaster {
  border: 6px solid white;
  border-radius: 20px;
  padding: 20px;
  color: lightgray;
  animation: yang-in 2.5s linear 0s 1 normal;
}

#face {
  transition: border 0.2s ease;
  border: 4px solid lightgray;
  border-radius: 100%;
  width: 200px;
}

#face:hover {
  border: 4px solid white;
}
