html {
  background: #303030;
  overflow-x: hidden; /* Disable horizontal scrollbar when ninja runs across. */
}

@keyframes slash {
  /* First slash */
  0% {
    background-image: url('./img/a1.png');
  }
  2% {
    background-image: url('./img/a2.png');
  }
  4% {
    background-image: url('./img/a3.png');
  }
  6% {
    background-image: url('./img/a4.png');
  }
  8% {
    background-image: url('./img/a5.png');
  }
  10% {
    background-image: none;
  }
  
  /* Second slash */
  15% {
    background-image: url('./img/b1.png');
  }
  16% {
    background-image: url('./img/b2.png');
  }
  17% {
    background-image: url('./img/b3.png');
  }
  19% {
    background-image: url('./img/b4.png');
  }
  21% {
    background-image: url('./img/b5.png');
  }
  23% {
    background-image: url('./img/b6.png');
  }
  24% {
    background-image: url('./img/b7.png');
  }
  25% {
    background-image: none;
  }
}

@keyframes run {
  35% {
    display: normal;
    left: -223px;
  }
  35%, 45%, 55%, 65%, 75% {
    transform: translateY(0);
  }
  40%, 50%, 60%, 70% {
    transform: translateY(-100px);
  }
  75%, 100% {
    left: 100vw;
  }
}

#slashes {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 964px;
  
  background-size: cover;
  animation: slash 2.5s linear 0s 1 normal;
}

#ninja {
  position: absolute;
  top: 45vh;
  left: -223px;
  animation: run 2.5s linear 0s 1 normal;
}
